html,body{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    margin:0px;
}

.title {
    text-align: center;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.box{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 1080px;
    background-color: black;
    border: 1px solid rgb(71, 71, 71);
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.form-group{
    margin-bottom: 20px;
}

.input-label{
    margin-bottom: 12px;
}

.w-full{
    width: 100%;
}

.input-text{
    color: white;
    background-color: black;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.input-text:hover{
    background-color:  rgb(71, 71, 71);
    border: none;
    border: 1px solid rgb(1, 248, 1);
}

.btn{
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
 
    font-weight: bold;
    border-radius: 5px;
}

.btn-green{
    background-color: rgb(0, 192, 0);
    color: white;
}
.btn-green:hover{
    background-color: green;
}

.btn-red{
    background-color: red;
    color: white;
}
.btn-red:hover{
    background-color: rgb(100, 0, 0);
}

.btn-blue{
    background-color: rgb(34, 34, 255);
    color: white;
}
.btn-blue:hover{
    background-color: rgb(0, 0, 151);
}

.center{
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

a:hover{
    color: rgb(0, 255, 0);
    text-decoration: underline;
}

.footer{
    text-align: center;
    background-color: rgb(58, 58, 58);
    padding-top: 12px;
    padding-bottom: 24px;
    color: white;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
.navbar > li {
    float: left;
  }
  
.navbar > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar > li a:hover {
    background-color: #111;
  }
  
a.active {
    background-color: #000;
}

.cards {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}

.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 25%;
    background-color: #333;
    padding-left: 8px;
    padding-right: 8px;
}

.text-center{
    text-align: center;
}

.centerlization{
    margin-left: auto;
    margin-right: auto;
}

.masonry-grid {
    /* It is split into 3 columns */
    column-count: 3;

    /* The space between columns */
    column-gap: 1rem;

    /* Misc */
    width: 100%;
}

.masonry-grid__item {
    /* Prevent a column from breaking into multiple columns */
    break-inside: avoid;
    background-color: white;
    color: black;
    /* Misc */
    margin-bottom: 1rem;
}

.text-blue{
    color: blue;
}
.text-red{
    color: red;
}
.text-green{
    color: green;
}
.text-yellow{
    color: rgb(209, 209, 0);
}

.container{
    height: 100%;
    margin-bottom: 25px;
}